# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
max_line_length = 120

[{*.yaml,*.yml}]
indent_size = 2

[*.java]
# Do not group imports
ij_java_class_count_to_use_import_on_demand = 3000
ij_java_names_count_to_use_import_on_demand = 3000

[{*.zsh,*.sh,*.bash}]
end_of_line = lf

# Javascript
ij_javascript_use_double_quotes = false
ij_javascript_force_quote_style = true

# Typescript
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_use_semicolon_after_statement = true
ij_typescript_force_semicolon_style = true

# HTML
ij_html_quote_style = double